@font-face {
  font-family: 'Alata-400';
  src: url('../fonts/Alata/Alata-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Josefin-300';
  src: url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}